@mixin containerStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
@mixin pictureStyle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
@mixin Flexy {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@mixin boxy {
    border-left: 5px double #F8F5F1;
    margin: auto 10px;
    padding: 10px 10px ;
}
@mixin marPad {
    margin: 10px 10px;
    padding: 10px 10px;
}
@mixin fontStyle {
    font-family: 'IBM Plex Mono', monospace;
    color: #F8F5F1;
}


.blogBody {
    background-color: #45526c;
}

.blogWriting {
    @include containerStyle();
    @include fontStyle();
}

.blogPost1 {
    @include boxy();
    @include marPad();
    #ire {
        @include pictureStyle();
    }
}

.blogPost2 {
    @include boxy();
    @include marPad();
    #moab {
        @include pictureStyle()
    }
}

.blogPost3 {
    @include boxy();
    @include marPad();
    #shire {
        @include pictureStyle()
    }
}

.blogPost4 {
    @include boxy();
    @include marPad();
    #snow {
        @include pictureStyle()
    }
}

.blogPost5 {
    @include boxy();
    @include marPad();
    #fall {
        @include pictureStyle()
    }
}

.pastBlogs{
    h3 {
    @include fontStyle();
    border-bottom: 5px double #F8F5F1
    }
    .blogs {
        @include fontStyle();
        border-left: 5px double #F8F5F1;
        li:before {
            content: "15 April 2021 - ";
        }
    }
}

