.homeBody {
    background-color: #45526c;
}
.homeCrypto {
    display: flex;
    justify-content: center;
}
.cryptograph {
    text-align: left;
    font-family: serif;
    font-weight: bold;
    font-family: 'IBM Plex Mono', monospace;
    color: #F8F5F1;
    width: 75%;
}