.homeBody {
  background-color: #45526c;
}

.homeCrypto {
  display: flex;
  justify-content: center;
}

.cryptograph {
  text-align: left;
  font-family: serif;
  font-weight: bold;
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  width: 75%;
}

.blogBody {
  background-color: #45526c;
}

.blogWriting {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
}

.blogPost1 {
  border-left: 5px double #F8F5F1;
  margin: auto 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  padding: 10px 10px;
}
.blogPost1 #ire {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blogPost2 {
  border-left: 5px double #F8F5F1;
  margin: auto 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  padding: 10px 10px;
}
.blogPost2 #moab {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blogPost3 {
  border-left: 5px double #F8F5F1;
  margin: auto 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  padding: 10px 10px;
}
.blogPost3 #shire {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blogPost4 {
  border-left: 5px double #F8F5F1;
  margin: auto 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  padding: 10px 10px;
}
.blogPost4 #snow {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.blogPost5 {
  border-left: 5px double #F8F5F1;
  margin: auto 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  padding: 10px 10px;
}
.blogPost5 #fall {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.pastBlogs h3 {
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  border-bottom: 5px double #F8F5F1;
}
.pastBlogs .blogs {
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  border-left: 5px double #F8F5F1;
}
.pastBlogs .blogs li:before {
  content: "15 April 2021 - ";
}

@media screen and (max-width: 600px) {
  .blogPost1, .blogPost2, .blogPost3, .blogPost4, .blogPost5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
.aboutBody {
  background-color: #45526c;
}

.whoAmI {
  display: flex;
  justify-content: space-around;
  border-left: 5px double #F8F5F1;
  margin: 10px 10px;
  padding: 10px 10px;
}
.whoAmI .iText {
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  display: flex;
  flex-direction: column;
}
.whoAmI .iImage {
  margin: 10px 10px;
  padding: 10px 10px;
}
.whoAmI .iImage img {
  height: 500px;
  width: 400px;
  border-radius: 50%;
}

.skills {
  border-left: 5px double #F8F5F1;
  margin: 10px 10px;
  padding: 10px 10px;
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
}
.skills .skillContain {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}
.skills .skillContain .skillDescription {
  margin: 10px 30px 0px 30px;
}
.skills .skillContain .skillImages {
  color: #F8A488;
  flex-direction: row;
  display: flex;
}
.skills .skillContain .skillImages .firstIcon {
  flex: 1;
  margin: 20px 20px 0px 20px;
}
.skills .skillContain .skillImages .secondIcon {
  flex: 1;
  margin: 20px 20px 0px 20px;
}

@media screen and (max-width: 600px) {
  .whoAmI {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .whoAmI .sectionHeading {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .whoAmI .iImage {
    margin: 10px 10px;
    padding: 10px 10px;
  }
  .whoAmI .iImage img {
    height: 250px;
    width: 200px;
    border-radius: 50%;
  }

  .skills {
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }
  .skills .sectionHeading {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .skills .skillContain {
    flex-direction: column;
  }
  .skills .skillContain .skillImages {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  .skills .skillContain .skillDescription {
    margin: 0px 0px;
  }
  .skills .skillContain .firstIcon {
    align-content: center;
    align-items: center;
  }
  .skills .skillContain .secondIcon {
    align-content: center;
    align-items: center;
  }
}
.contactBody {
  background-color: #45526c;
}

.nameEmail {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  border-bottom: 5px double #F8F5F1;
}

.contactMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "IBM Plex Mono", monospace;
  color: #F8F5F1;
  margin: 10px 10px;
  padding: 10px 10px;
  border-bottom: 5px double #F8F5F1;
}

.socialMedia {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.linkedIn img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 10px 10px;
}

.github img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 10px 10px;
}

.twitter img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 10px 10px;
}

.instagram img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  margin: 10px 10px;
  padding: 10px 10px;
}

.pageTitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 60px;
  color: #F8A488;
  text-align: center;
  border-bottom: 5px double #F8F5F1;
}
.pageTitle .h1 {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #F8F5F1;
  opacity: 75%;
}
.topnav a {
  float: left;
  display: block;
  color: #45526c;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a:hover {
  background-color: #F8A488;
  color: black;
}
.topnav a.active {
  background-color: #F8A488;
  color: #45526c;
}
.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .pageTitle {
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .pageTitle .h1 {
    text-align: left;
    width: 75%;
  }
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*# sourceMappingURL=main.css.map */
